.carousel {
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); }
  .carousel .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden; }
  .carousel:hover .carousel__nav button {
    opacity: 0.2; }
  @media screen and (max-width: 1300px) {
    .carousel {
      padding: 0 30px; } }

.carousel__nav button {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  cursor: pointer;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  transition: opacity 0.3s; }
  .carousel__nav button img {
    height: 100%;
    width: 100%; }
  .carousel__nav button.carousel__nav--left {
    left: -50px;
    transform: translateY(-50%) rotate(180deg); }
  .carousel__nav button.carousel__nav--right {
    right: -50px; }

@media screen and (max-width: 1300px) {
  .carousel__nav button {
    opacity: 0.2; }
    .carousel__nav button.carousel__nav--left {
      left: 10px; }
    .carousel__nav button.carousel__nav--right {
      right: 10px; } }

@media screen and (max-width: 980px) {
  .carousel__nav button {
    top: 20%; }
    .carousel__nav button.carousel__nav--left {
      left: 20px; }
    .carousel__nav button.carousel__nav--right {
      right: 20px; } }

.carousel-item {
  position: relative;
  z-index: 2;
  display: none;
  animation-iteration-count: 1; }
  .carousel-item.active {
    display: flex; }
  .carousel-item .carousel-item__thumb {
    min-width: 0;
    flex-basis: 300px;
    padding: 30px;
    flex-shrink: 1; }
    .carousel-item .carousel-item__thumb img {
      width: 100%; }
  .carousel-item .carousel-item__body {
    padding: 30px;
    padding-left: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex: 1; }
  .carousel-item .carousel-item__header {
    display: flex;
    align-items: baseline; }
    .carousel-item .carousel-item__header h1 {
      margin: 0;
      font-size: 26px; }
    .carousel-item .carousel-item__header p {
      margin: 0;
      color: #BFBFBF;
      margin-left: 30px;
      font-size: 16px; }
      .carousel-item .carousel-item__header p span {
        text-transform: uppercase;
        display: inline-block;
        margin-right: 20px; }
    @media screen and (max-width: 590px) {
      .carousel-item .carousel-item__header {
        flex-direction: column; }
        .carousel-item .carousel-item__header h1 {
          font-size: 22px; }
        .carousel-item .carousel-item__header p {
          font-size: 12px;
          margin-left: 0; } }
  .carousel-item .carousel-item__content {
    margin-top: 15px;
    color: #95989A;
    flex-grow: 1; }
    .carousel-item .carousel-item__content p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      max-height: 110px; }
  .carousel-item .carousel-item__footer span {
    display: inline-block;
    margin-right: 20px;
    color: #BFBFBF;
    font-size: 16px; }
    .carousel-item .carousel-item__footer span a {
      text-decoration: none;
      color: #55A6DC;
      font-size: 28px;
      font-weight: normal; }
  @media screen and (max-width: 590px) {
    .carousel-item .carousel-item__footer span {
      font-size: 12px; }
      .carousel-item .carousel-item__footer span a {
        display: block;
        font-size: 18px; } }
  @media screen and (max-width: 980px) {
    .carousel-item {
      flex-direction: column; }
      .carousel-item .carousel-item__thumb {
        height: 150px;
        padding: 30px;
        flex-shrink: 1;
        flex: 0;
        text-align: center; }
        .carousel-item .carousel-item__thumb img {
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          height: 100%;
          width: auto; } }

.slide-from-right {
  animation: slideFromRight 0.8s cubic-bezier(0.23, 1, 0.32, 1); }

.slide-from-left {
  animation: slideFromLeft 0.8s cubic-bezier(0.23, 1, 0.32, 1); }

.slide-to-right {
  position: absolute;
  top: 0;
  animation: slideToRight 0.8s cubic-bezier(0.23, 1, 0.32, 1); }

.slide-to-left {
  position: absolute;
  top: 0;
  animation: slideToLeft 0.8s cubic-bezier(0.23, 1, 0.32, 1); }

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: scale(0.8) translateX(100%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0%); } }

@keyframes slideToRight {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0%); }
  100% {
    opacity: 0;
    transform: scale(0.8) translateX(100%); } }

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: scale(0.8) translateX(-100%); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0%); } }

@keyframes slideToLeft {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0%); }
  100% {
    opacity: 0;
    transform: scale(0.8) translateX(-100%); } }
