@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  padding: 0;
  background-color: #EBEBEB;
  color: #2D383F;
  font-family: 'Open Sans', sans-serif; }

.placeholer {
  background-color: #DFDFDF;
  border-radius: 4px;
  display: block;
  margin: 10px; }

.placeholer.text {
  height: 20px;
  width: 60px; }

.placeholer.image {
  height: 300px;
  width: 270px; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

nav {
  overflow: hidden;
  background-color: #fff; }
  nav .wrapper {
    height: 60px;
    display: flex;
    align-items: center; }
    nav .wrapper .logo {
      height: 30px; }
    nav .wrapper .menu {
      padding-left: 40px;
      flex-grow: 1;
      display: flex;
      align-items: center; }
    nav .wrapper .settings {
      flex-shrink: 0;
      display: flex;
      align-items: center; }
  @media screen and (max-width: 590px) {
    nav .wrapper {
      padding: 0 15px; }
      nav .wrapper .settings, nav .wrapper .menu {
        display: none; } }

nav.sub {
  background-color: #2D383F;
  height: 60px; }

.carousel-wrapper {
  margin: 50px 0; }

.brokers .brokers__header {
  display: flex;
  align-items: center; }
  .brokers .brokers__header h3 {
    flex-grow: 1; }

.brokers .brokers__grid {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

@media screen and (max-width: 590px) {
  .brokers {
    padding: 0 15px; }
    .brokers .brokers__grid .placeholer {
      width: 40%;
      height: 100px; } }
