@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #EBEBEB;
  color: #2D383F;
  font-family: 'Open Sans', sans-serif; }

.placeholer {
  background-color: #DFDFDF;
  border-radius: 4px;
  display: block;
  margin: 10px; }

.placeholer.text {
  height: 20px;
  width: 60px; }

.placeholer.image {
  height: 300px;
  width: 270px; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

nav {
  overflow: hidden;
  background-color: #fff; }
  nav .wrapper {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    nav .wrapper .logo {
      height: 30px; }
    nav .wrapper .menu {
      padding-left: 40px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    nav .wrapper .settings {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  @media screen and (max-width: 590px) {
    nav .wrapper {
      padding: 0 15px; }
      nav .wrapper .settings, nav .wrapper .menu {
        display: none; } }

nav.sub {
  background-color: #2D383F;
  height: 60px; }

.carousel-wrapper {
  margin: 50px 0; }

.brokers .brokers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .brokers .brokers__header h3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.brokers .brokers__grid {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media screen and (max-width: 590px) {
  .brokers {
    padding: 0 15px; }
    .brokers .brokers__grid .placeholer {
      width: 40%;
      height: 100px; } }
