.carousel{
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 0 rgba(#000, 0.1);

    .carousel-inner{
        position: relative;
        width: 100%;
        // height: 50px;
        overflow: hidden;
        // overflow-x: hidden;
        // overflow-y: visible;
    }
    &:hover{
        .carousel__nav button{
            opacity: 0.2;
        }
    }
}

.carousel__nav{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 40px;
    transform: translateY(-50%);
    button{
        border: none;
        background-color: transparent;
        height: 40px;
        width: 40px;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        transition: opacity 0.3s;
        &:hover{
            opacity: 0.8;
        }
        img{
            height: 100%;
            width: 100%;
        }
        &.carousel__nav--left{
            left: -50px;
            transform: rotate(180deg);
        }
        &.carousel__nav--right{
            right: -50px;
        }
    }
}

.carousel-item{
    position: relative;
    z-index: 2;
    display: none;
    animation-iteration-count: 1;
    &.active{
        display: flex;
    }
    .carousel-item__thumb{
        min-width: 0;
        flex-basis: 300px;
        padding: 30px;
        flex-shrink: 1;
        img{
            width: 100%;
        }
    }
    .carousel-item__body{
        padding: 30px;
        padding-left: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .carousel-item__header{
        display: flex;
        align-items: baseline;
        h1{
            margin: 0;
            font-size: 26px;
        }
        p{
            margin: 0;
            color: #BFBFBF;
            margin-left: 30px;
            font-size: 16px;
            span{
                text-transform: uppercase;
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
    .carousel-item__content{
        margin-top: 15px;
        color: #95989A;
        flex-grow: 1;        
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            // Fix for IE
            max-height: 110px;
        }
    }

    .carousel-item__footer{
        span{
            display: inline-block;
            margin-right: 20px;
            color: #BFBFBF;
            font-size: 16px;
            a{
                text-decoration: none;
                color: #55A6DC;
                font-size: 28px;
                font-weight: normal;
            }
        }
    }
}

// The sequence is very important
// We need to declare Slide In animations first
// And then slide out
.slide-from-right{
    animation: slideFromRight 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.slide-from-left{
    animation: slideFromLeft 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.slide-to-right{
    position: absolute;
    top: 0;
    animation: slideToRight 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.slide-to-left{
    position: absolute;
    top: 0;
    animation: slideToLeft 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}


$scaleFactory: 0.8;


@keyframes slideFromRight {	
	0%{
		opacity: 0;
		transform: scale($scaleFactory) translateX(100%);
	}	
	100% {
		opacity: 1;		
		transform: scale(1) translateX(0%);
	}
}


@keyframes slideToRight {	
	0%{
		opacity: 1;
		transform: scale(1) translateX(0%);
	}	
	100% {
		opacity: 0;		
		transform: scale($scaleFactory) translateX(100%);
	}
}

@keyframes slideFromLeft {	
	0%{
		opacity: 0;
		transform: scale($scaleFactory) translateX(-100%);
	}	
	100% {
		opacity: 1;
		transform: scale(1) translateX(0%);
	}
}

@keyframes slideToLeft {	
	0%{
		opacity: 1;
		transform: scale(1) translateX(0%);
	}	
	100% {
		opacity: 0;		
		transform: scale($scaleFactory) translateX(-100%);
	}
}