@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "variables";

body{
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
    color: #2D383F;
    font-family: 'Open Sans', sans-serif;

}

// GLOBAL ELEMENTS
.placeholer{
    background-color: #DFDFDF;
    border-radius: 4px;
    display: block;
    margin: 10px;
}

.placeholer.text{
    height: 20px;
    width: 60px;
}

.placeholer.image{
    height: 300px;
    width: 270px;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


// PAGE ELEMENTS

// TOP NAVIGATION
nav{
    overflow: hidden;
    background-color: #fff;
    .wrapper{
        height: 60px;
        display: flex;
        align-items: center;
        .logo{
            height: 30px;
        }
        .menu{
            padding-left: 40px;
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
        .settings{
            flex-shrink: 0;
            display: flex;
            align-items: center;
        }
    }   
    @media screen and (max-width: $break-sm) {
        .wrapper{
            padding: 0 15px;
            .settings, .menu{
                display: none;
            }
        }
    }
}

// SUB NAVIGATION
nav.sub{
    background-color: #2D383F;
    height: 60px;
}

// SLIDER CONTAINER
.carousel-wrapper{
    margin: 50px 0;
}

// BROKERS GRID
.brokers{
    .brokers__header{
        display: flex;
        align-items: center;
        h3{
            flex-grow: 1;
        }
    }

    .brokers__grid{
        margin: 0 -10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media screen and (max-width: $break-sm) {
        padding: 0 15px;            
        .brokers__grid .placeholer{
            width: 40%;
            height: 100px;
        }
    }
}